# Original Sick Beard autoProcessTV configuration file
# Adapted for use in github_notifier
#
# Rename (or copy) settings.cfg.sample to settings.cfg

[General]
loglevel=DEBUG
#DEBUG WARN ERROR INFO
logpath=
logfile=notifier.log
feed_url=

[Pushover]
user_key=
app_token=
push_device=